<%= form_with(model: reservation, local: true) do |form| %>
  
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h4>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.date_select :reserve_date %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :time_start, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.time_select :time_start, {minute_step: 15} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :time_end, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.time_select :time_end, {minute_step: 15} %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :status, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :status, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :group, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :group, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :activity, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :activity, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :person, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :person, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :phone, :class => 'form-control' %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.text_field :email, :class => 'form-control' %>
    </div>
  </div>
  
  <!--<div class="form-group">-->
  <!--  <%#= form.label "Room", :class => 'control-label col-lg-2' %>-->
  <!--<div class="col-lg-10">-->
    <!--  <%#= form.text_field :room_id %>-->
  <!--</div>-->
  <!--</div>-->
  
  <div class="form-group">
    <%= form.label "Room", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= form.collection_select :room_id, Room.all, :id, :name, prompt: true %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>