
<!--<p id="notice"><%#= notice %></p>-->

<div class="container-fluid">
    
    <h1>Reservations</h1>
    
    
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Reserve Date</th>
          <th scope="col">Time start</th>
          <th scope="col">Time end</th>
          <th scope="col">Status</th>
          <th scope="col">Room</th>
          <th scope="col">Group</th>
          <th scope="col">Activity</th>
          <th scope="col">Person</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td scope="row"><%= reservation.reserve_date.to_s(:short) %></td>
            <td scope="row"><%= reservation.time_start.strftime('%l:%M %p') %></td>
            <td scope="row"><%= reservation.time_end.strftime('%l:%M %p') %></td>
            <td scope="row"><%= reservation.status %></td>
            <th scope="row"><%= reservation.room.name %></th>
            <td scope="row"><%= reservation.group %></td>
            <td scope="row"><%= reservation.activity %></td>
            <td scope="row"><%= reservation.person %></td>
            <td scope="row"><%= reservation.phone %></td>
            <td scope="row"><%= reservation.email %></td>
            <td>
              <%= link_to 'Show', reservation, :class => 'btn btn-xs btn-info' %>
              <%= link_to 'Edit', edit_reservation_path(reservation), :class => 'btn btn-xs btn-warning' %>
              <%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>  

<br>

<%= link_to 'New Reservation', new_reservation_path %>

