<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Reserve date</th>
      <th>Time start</th>
      <th>Time end</th>
      <th>Status</th>
      <th>Room</th>
      <th>Group</th>
      <th>Activity</th>
      <th>Person</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.reserve_date.to_s(:long) %></td>
        <td><%= reservation.time_start.strftime('%l:%M %p') %></td>
        <td><%= reservation.time_end.strftime('%l:%M %p') %></td>
        <td><%= reservation.status %></td>
        <th><%= reservation.room.name %></th>
        <td><%= reservation.group %></td>
        <td><%= reservation.activity %></td>
        <td><%= reservation.person %></td>
        <td><%= reservation.phone %></td>
        <td><%= reservation.email %></td>
        <td>
          <%= link_to 'Show', reservation, :class => 'btn btn-xs btn-info' %>
          <%= link_to 'Edit', edit_reservation_path(reservation), :class => 'btn btn-xs btn-warning' %>
          <%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>