<!DOCTYPE html>
<html>
  <head>
    <title>BookingSys</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    
    <%= render 'layouts/navigation' %>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <%= flash_messages %>
          <%= yield %>
        </div>
    </div> <!-- /container -->
    
    <%= render 'layouts/footer' %>
    
  </body>
</html>
